@import url(https://fonts.googleapis.com/css2?family=Frijole&family=Poetsen+One&display=swap
);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple);

h1 {
  font-family: "frijole";
  color: #534ad4;
  text-shadow: -5px #11101b;
  margin: 15px 40px 20px;
  font-size: 2.5em;
}

h2 {
  font-family: 'Poetsen One';
  font-size: xx-large;
}

h3 {
  font-family: 'Poetsen One';
  font-size: large;
}

.navigation-flex {
  display: flex;
  gap: 200px;
  border-top: 5px dotted #534ad4;;
  border-bottom: 5px dotted #534ad4;
  padding: 10px 15px;
}

.nav-link {
  color: rgb(221, 240, 253);
  font-weight: 600;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #3826dc,#d17bd9);
  min-width: 320px;
  min-height: 100vh;
}

.homepage {
  border-radius: 10px;
  box-shadow: 0 0 20px 8px #77648e;
  margin: 50px auto 50px;
  align-content: center;
  width: 50%;
  text-align: center;
  min-width: 300px;
  background-color:  rgba(255, 255, 255, .5);
  padding: 0 20px;
}

.homepage h2, h3 {
  color: rgb(107, 6, 231);
}

.homepage p {
  color:#8912b0
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #3826dc;
  box-shadow: 5px 5px 10px 1px rgb(107, 6, 231);
  color:#fbecff;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto #241b7b;;
}

#prompt {
  text-align: center;
  margin-bottom: 5px;
}

#topic {
  text-align: center;
  font-size: xx-large;
  margin: 5px;
  color: rgb(168, 195, 234);
}

.play-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 20px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 20px 8px #77648e;
  margin: 20px auto 50px;
  align-content: center;
  min-width: 300px;
  background-color:  rgba(255, 255, 255, .5);
  padding: 20px 0;
}

.timer {
  text-align: center;
  font-family: 'Poetsen One';
  font-size: 32px ;
  color: rgb(168, 195, 234);
}

#timer-alert {
  color:red
}

.tools-board{
  width: 210px;
  padding: 15px 22px 0;
}

.tools-board .row{
  margin-bottom: 20px;
}

.row .options{
  list-style: none;
  margin: 10px 0 0 0;
}

.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 3px;
}

.option:is(:hover, .active) .icon{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span, label){
  padding-left: 7px;
  cursor: pointer;
}

.option:is(:hover, .active) :where(span, label){
  color:cornflowerblue;
}

.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 90px;
}

.option #size-slider{
  width: 80%;
  height: 5px;
  margin-top: 10px;
}

.colors .options{
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}

.colors .option:nth-child(1){
  background-color: white;
  border: 1.5px solid gray;
}

.colors .option:nth-child(2){
  background-color: black;
}

.colors .option:nth-child(3){
  background-color: red;
}

.colors .option:nth-child(4){
  background-color: rgb(4, 133, 4);
}

.colors .option:nth-child(5){
  background-color: blue;
}

.colors .option.selected::before{
  position: absolute;
  content:"";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid white;
  transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before{
  background-color:rgb(230, 226, 226);
}

.option #color-picker{
  opacity: 0;
  cursor: pointer;
}

.buttons button{
  width: 75%;
  padding: 8px 0;
  font-size: 0.9rem;
  margin: 0 0 20px 7%;
}

.buttons button:hover{
  border-color: #646cff;
}

.buttons .clear-canvas{
  color: #3826dc;
  border: 1px solid grey;
  transition: all 0.3s ease;
  background-color: rgb(155, 189, 238);
}

.clear-canvas:hover{
  color: white;
  background-color: lightsteelblue;
}

.buttons .change-topic{
  border: 1px solid #3201a2;
}

canvas {
  background-color: white;
}

.guesser-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  justify-items: center;
}

#guess-input {
  grid-area: input-submission;
  margin: 20px;
  height: 30%;
}

.guesser-container button {
 grid-area: input-button;
}

.guesses {
  grid-area: guesses;
}

form {
  color: rgb(107, 6, 231);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 20px 8px #77648e;
  margin: 20px auto 50px;
  min-width: 300px;
  background-color:  rgba(255, 255, 255, .5);
  padding: 20px 30px 50px;
  margin-top: 50px;
}

form h2 {
  text-align: center;
}

form label, form input{
  position: relative;
  left: 10px;
}

form label {
  margin-left: 150px;
  width: 100px;
  font-size: large;
  font-weight: bolder;
}

form input {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  padding: 10px 18px;
  background-color: rgb(234, 243, 243);
  color:rgb(12, 57, 102);
  font-size: large;
  font-weight: bold;
  
}

input[type=password] {
  margin-bottom: 40px;
}

form button {
  width: 200px;
  margin: auto;
}

.auth-redirect-wrap {
  text-align: center;
}

.auth-redirect {
  color:#d4b4e9;
  font-weight: bold;
  font-size: large;
}